.o-lang{
  height: 100%;

  &-select {
    list-style: none;
    padding: 0;
    max-height: 26px;
    height: 100%;
    overflow-y: hidden;
    position: absolute;
    top: 30%;
    cursor: pointer;
    transition: 0.35s;

    &:hover{
      max-height: 200px;
      transition: 0.35s;
    }

    &__option{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    margin-bottom: 4px;
    background: white;
    padding: 5px 11px;
    border-radius: 5px;
    }

    &__name{
      font-size: 16px;
    }
  }
}

.o-lang-select__img{
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

@media(max-width:1200px){

  .o-lang{
    &-select{
      position: relative;

      &__option{
        justify-content: center;
      }
    }

  }

}


