<section class="nuestros-servicios">
  <article class="nuestros-servicios__graphics">
    <div class="nuestros-servicios__title">
      <h2>
        <img src="assets/icons/arrowdown-right.svg" alt="" />{{
          dataOurService.titulo_seccion
        }}
      </h2>
    </div>
    <div class="nuestros-servicios__images-container">
      <img
        src="assets\icons\purple-logo-icon.svg"
        alt="Logo Sinapsis"
        class="logo-icon"
      />
      <div class="team-work-container">
        <img
          class="team-work"
          [src]="dataOurService.imagen"
          alt="Equipo de trabajo"
        />
      </div>
    </div>
  </article>
  <article
    class="nuestros-servicios__container container"
    appScrollReveal
    y="100"
    selectorClassAnimation="service"
    [isPending]="isPendingServicios"
  >
    <div
      *ngIf="!isServiciosResponsive; else nuestrosServiciosMovile"
      class="nuestros-servicios-grid"
    >
      <div *ngFor="let servicio of servicios" class="service">
        <img class="service__icon" [src]="servicio.icon" alt="ícono Servicio" />
        <div class="service__content">
          <h4>{{ servicio.title }}</h4>
          <p>{{ servicio.description }}</p>
        </div>
      </div>
      <app-button-sinapsis
        class="button"
        [name_button]="dataOurService.titulo_boton"
        url="/servicios"
      ></app-button-sinapsis>
    </div>
    <ng-template #nuestrosServiciosMovile>
      <app-services-mobile [servicios]="servicios"></app-services-mobile>
    </ng-template>
  </article>
</section>
