.h2-black {
  color: #1a1a1b;
  font-style: normal;

  b {
    font-weight: 700;
  }
}

span {
  color: #1a1a1b;
  font-size: 20px;
  font-style: normal;
}

.section-software {
  margin-top: 100px;

  .text-software{
    width: 100%;
    min-height: 235px;
  }

  p {
    color: #1a1a1b;
    text-align: center;
    font-style: normal;
    margin-bottom: 0;
    z-index: 5;
  }

  .info-software {
    p {
      p {
        color: #1a1a1b;
        text-align: start;
        font-style: normal;
        margin-bottom: 0;
      }
    }
  }
}

.work-us {
  width: 100%;
  height: 700px;
  position: relative;

  .info-contact {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
      width: 474px;
      display: grid;
      text-align: center;
      position: relative;

      img {
        width: 90px;
        height: 90px;
        position: absolute;
        right: -40px;
        top: -60px;
      }

      h2 {
        color: #fff;
        position: relative;
      }

      a {
        text-align: center;
        position: relative;
        margin-top: 25px;
        color: #fff;
        font-family: "Inter";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-decoration-line: underline;
      }
    }
  }
}

.work-us.image-parallax {
  background-image: url("/assets/background/bg_contact.webp");
}

.work-us.parallax {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@media screen and (max-width: 767px) {
  .work-us {
    .content {
      width: 100%;
      padding: 0 50px;

      img {
        width: 75px;
        height: 75px;
        right: 15px !important;
      }
    }
  }
}

@media screen and (min-width: 1800px) {
  .section-software {

    .container{
      max-width: 1480px;

      p {
        max-width: 1300px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
