<main>
  <div class="text-center mt-5">
    <span class="text-center">Trabajamos todos nuestros desarrollos con</span>
    <h2 class="h2-black">Metodologías <b>Scrum y kanban.</b></h2>
  </div>
  <section class="section-slider mt-5" *ngIf="!isMobile">
    <div class="swiper swiper-initialized swiper-horizontal swiper-pointer-events">
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let item of sliderItems">
          <div class="card-item text-center">
            <img class="icon-slider" [src]="item.icon" alt="" />
            <p class="title_item">{{ item.title }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container d-flex justify-content-end mt-3">
      <p class="mb-0 me-3 parr_slide">
        Desliza para conocer todos los servicios
      </p>
      <img src="/assets/icons/arrangehorizontal.svg" alt="" />
    </div>
  </section>
  <section class="grid-mobile" *ngIf="isMobile">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-6 item-mobile" *ngFor="let item of sliderItems">
        <img class="icon-slider" [src]="item.icon" alt="" />
        <p>{{ item.title }}</p>
      </div>
    </div>
  </section>
  <section class="section-software pb-5">
    <div class="mt-5 text-center container scroll-software">
      <h2 class="h2-black">Desarrollo de <b>software a la medida.</b></h2>
      <p class="mt-4">
        En SINAPSIS nos especializamos en desplegar servicios bajo metodologías
        de desarrollo de soware que enfatizan la agilidad y la adaptabilidad,
        que responden a las necesidades y el entorno cambiante de su negocio.
      </p>
      <p>
        Nuestro equipo de desarrollo está capacitado para entenderlo, ayudándole
        a convertir un reto empresarial en una aplicación moderna a la medida de
        soluciones altamente robustas, que le permita operar de manera más
        rentable y eficiente; incluyen aplicaciones financieras, soware
        contable, inventarios, aplicaciones de nómina, sistemas de producción y
        manufactura, entre otras.
      </p>
      <p class="mt-4">
        En SINAPSIS somos orgullosamente Microso Partner Network.
      </p>
    </div>
    <ng-lottie
      [options]="options"
      (animationCreated)="animationCreated($event)"
    ></ng-lottie>
    <!-- <div id="lotti-container" [style.width.px]="width" [style.height.px]="height"></div> -->
    <div class="container info-software scroll-software">
      <p>
        Lorem ipsum dolor sit amet. Ea cumque nemo ab laudantium corporis sed
        earum ratione eos dolores saepe et quos tempora aut autem maiores ea
        magni doloremque. Et velit dolores in placeat voluptas et culpa nulla
        aut galisum odit. In perferendis temporibus ut nulla illo ut placeat
        debitis vel commodi voluptates qui dicta asperiores rem laboriosam
        impedit.
      </p>
      <p>
        Sed magni aperiam eos totam excepturi aut voluptatibus quos id quisquam
        voluptas ut harum accusantium et quaerat esse vel veritatis possimus.
        Qui quia aperiam est necessitatibus quidem nam velit sint est magnam
        corporis aut soluta delectus a vitae autem aut dicta facere. Vel
        mollitia labore qui doloribus facilis et quia aperiam et iure
        consequatur? Sit nostrum sunt non beatae ipsam nam sunt similique est
        dolor doloribus vel dicta quasi et nostrum facilis. Sed expedita
        mollitia et iure eaque qui ipsam debitis.
      </p>
      <p>
        Ab adipisci reprehenderit est maxime dolore non labore consequuntur rem
        aperiam consectetur et illum quia sed veritatis distinctio ut quas enim.
      </p>
    </div>
  </section>
  <section class="mobile">
    <div class="phone phone_mobile">
      <img class="cell cell_mobile" src="/assets/img/cell.svg" alt="" />
      <img class="shad shad_mobile" src="/assets/img/shadow.svg" alt="" />
    </div>
    <div class="w-100 text-center px-3 mt-4">
      <h2>Lorem ipsum is simply text of the printing</h2>
      <p>
        Lorem ipsum is simple texto of the printing and typesetting industry.
        lorem ipsum has been the Lorem ipsum is simple texto of the printing and
        typesetting industry. lorem ipsum has been the Lorem ipsum is simple
        texto of the printing and typesetting industry. Lorem ipsum is simple
        texto of the printing and typesetting industry.
      </p>
    </div>
  </section>
  <section class="other-service my-5 ">
    <div class="section-service-mobile desktop">
      <div class="container h-100">
        <div class="row content-mobile h-100 position-relative scroll-left">
          <div class="col-md-6 item-mobile h-100">
            <img class="logo-sinapsis" src="/assets/img/logo.svg" alt="" />
            <div class="phone">
              <img class="cell" src="/assets/img/cell.svg" alt="" />
              <img class="shad" src="/assets/img/shadow.svg" alt="" />
            </div>
          </div>
          <div class="col-md-6 item-mobile item_service h-100">
            <h2>Lorem ipsum is simply text of the printing</h2>
            <p>
              Lorem ipsum is simple texto of the printing and typesetting
              industry. lorem ipsum has been the Lorem ipsum is simple texto of
              the printing and typesetting industry. lorem ipsum has been the
              Lorem ipsum is simple texto of the printing and typesetting
              industry. Lorem ipsum is simple texto of the printing and
              typesetting industry.
            </p>
            <app-button-sinapsis
              [name_button]="'Lorem ipsum is simple'"
            ></app-button-sinapsis>
          </div>
        </div>
      </div>
    </div>
    <div class="container mobile">
      <ng-lottie
        [options]="options"
        (animationCreated)="animationCreated($event)"
      ></ng-lottie>
      <div class="text-center w-100">
        <h2 class="h2-black">Lorem ipsum is simply</h2>
        <p class="mt-3">
          Lorem ipsum is simple texto of the printing and typesetting industry.
          lorem ipsum has been the Lorem ipsum is simple texto of the printing
          and typesetting industry. lorem ipsum has been the Lorem ipsum is
          simple texto of the printing and typesetting industry. Lorem ipsum is
          simple texto of the printing and typesetting industry.
        </p>
        <app-button-sinapsis
          [name_button]="'Lorem ipsum is simple'"
        ></app-button-sinapsis>
      </div>
    </div>
    <div class="other-service-pc desktop" >
      <div class="scroll-right">
        <div class="row">
          <div class="col-md-6 col-12 other-item items-pc px-5">
            <div class="w-100">
              <h2 class="h2-black">Lorem ipsum is simply</h2>
              <p class="mt-3">
                Lorem ipsum is simple texto of the printing and typesetting
                industry. lorem ipsum has been the Lorem ipsum is simple texto
                of the printing and typesetting industry. lorem ipsum has been
                the Lorem ipsum is simple texto of the printing and typesetting
                industry. Lorem ipsum is simple texto of the printing and
                typesetting industry.
              </p>
              <app-button-sinapsis
                [name_button]="'Lorem ipsum is simple'"
              ></app-button-sinapsis>
            </div>
          </div>
          <div
            class="col-md-6 col-12 other-item d-flex justify-content-end align-items-end position-relative"
          >
            <img class="computer" src="/assets/img/computer.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="statistics">
    <div class="container h-100 scroll-left">
      <div class="row d-flex justify-content-center align-items-center w-100">
        <div
          class="col-md-4 d-flex justify-content-center align-items-center h-100 item-statistics"
        >
          <div class="d-flex">
            <img class="icon" src="/assets/icons/user.svg" />
            <div class="content-statistics ms-3">
              <h3 class="m-0">+100</h3>
              <h3 class="m-0 title-statistics">
                Clientes satisfechos con este servicio
              </h3>
              <p class="m-0">
                Lorem ipsum is simple texto of the printing and typesetting
                industry. lorem ipsum has been the Lorem ipsum is simple texto
                of the printing and typesetting industry. lorem ipsum has been
                the Lorem ipsum is simple texto of the printing and typesetting
                industry.
              </p>
            </div>
          </div>
        </div>
        <div
          class="col-md-4 d-flex justify-content-center align-items-center h-100 item-statistics"
        >
          <div class="d-flex">
            <img class="icon" src="/assets/icons/cup.svg" />
            <div class="content-statistics ms-3">
              <h3 class="m-0">+100</h3>
              <h3 class="m-0 title-statistics">Proyectos</h3>
              <p class="m-0">
                Lorem ipsum is simple texto of the printing and typesetting
                industry. lorem ipsum has been the Lorem ipsum is simple texto
                of the printing and typesetting industry. lorem ipsum has been
                the Lorem ipsum is simple texto of the printing and typesetting
                industry.
              </p>
            </div>
          </div>
        </div>
        <div
          class="col-md-4 d-flex justify-content-center align-items-center h-100 item-statistics"
        >
          <div class="d-flex">
            <img class="icon" src="/assets/icons/bank.svg" />
            <div class="content-statistics ms-3">
              <h3 class="m-0">+100</h3>
              <h3 class="m-0 title-statistics">Empresas</h3>
              <p class="m-0">
                Lorem ipsum is simple texto of the printing and typesetting
                industry. lorem ipsum has been the Lorem ipsum is simple texto
                of the printing and typesetting industry. lorem ipsum has been
                the Lorem ipsum is simple texto of the printing and typesetting
                industry.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="work-us parallax image-parallax">
    <div class="info-contact">
      <div class="content ">
        <img src="/assets/icons/arrowdown.svg" alt="" />
        <h2>
          Lorem ipsum is simple texto of the printing and typesetting industry.
        </h2>
        <a href="/contacto">Botón</a>
      </div>
    </div>
  </section>
  <app-casos-de-exito/>
</main>
