<main>
  <div class="text-center mt-5">
    <span class="text-center">Trabajamos todos nuestros desarrollos con</span>
    <h2 class="h2-black">Metodologías <b>Scrum y kanban.</b></h2>
  </div>
  <section class="section-slider mt-5" *ngIf="!isMobile">
    <div
      class="swiper swiper-initialized swiper-horizontal swiper-pointer-events"
    >
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let item of sliderItems">
          <div class="card-item text-center">
            <img class="icon-slider" [src]="item.icon" alt="" />
            <p class="title_item">{{ item.title }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container d-flex justify-content-end mt-3">
      <p class="mb-0 me-3 parr_slide">
        Desliza para conocer todos los servicios
      </p>
      <img src="/assets/icons/arrangehorizontal.svg" alt="" />
    </div>
  </section>
  <section class="grid-mobile" *ngIf="isMobile">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-6 item-mobile" *ngFor="let item of sliderItems">
        <img class="icon-slider" [src]="item.icon" alt="" />
        <p>{{ item.title }}</p>
      </div>
    </div>
  </section>
  <section class="section-software pb-5">
    <div class="mt-5 text-center container scroll-software">
      <h2 class="h2-black">{{pageData.developSoftware.title}}</h2>
      <p class="mt-4">{{pageData.developSoftware.description}}</p>
    </div>
    <div class="w-100 content-animation">
      <div class="container d-flex justify-content-center align-items-center">
        <div #lottiContainer>
          <ng-lottie
            [options]="options"
            (animationCreated)="animationCreated($event)"
          ></ng-lottie>
        </div>
      </div>
    </div>
    <div class="container info-software mt-5">
      <p>
        {{pageData.developSoftware.secondDescription}}
      </p>
    </div>
  </section>
  <section class="mobile">
    <div class="phone phone_mobile">
      <img class="cell cell_mobile" src="/assets/img/cell.svg" alt="" />
      <img class="shad shad_mobile" src="/assets/img/shadow.svg" alt="" />
    </div>
    <div class="w-100 text-center px-3 mt-4">
      <h2>{{pageData.phoneSection.title}}</h2>
      <p>
        {{pageData.phoneSection.description}}
      </p>
    </div>
  </section>
  <section class="other-service my-5">
    <div class="section-service-mobile desktop">
      <div class="container h-100">
        <div class="row content-mobile h-100 position-relative scroll-left">
          <div class="col-md-6 item-mobile h-100">
            <img class="logo-sinapsis" src="/assets/img/logo_mark.svg" alt="" />
            <div class="phone">
              <img class="cell" src="/assets/img/cell.svg" alt="" />
              <img class="shad" src="/assets/img/shadow.svg" alt="" />
            </div>
          </div>
          <div class="col-md-6 item-mobile item_service h-100">
            <h2>{{pageData.phoneSection.title}}</h2>
            <p>{{pageData.phoneSection.description}}</p>
            <app-button-sinapsis
              [name_button]="'Lorem ipsum is simple'"
              [url]="pageData.phoneSection.urlBoton"
            ></app-button-sinapsis>
          </div>
        </div>
      </div>
    </div>
    <div class="container mobile">
      <div class="container d-flex justify-content-center align-items-center w-100 p-5">
        <img class="img_portatil" src="/assets/img/portatil.png" alt="">
      </div>
      <div class="text-center w-100">
        <h2 class="h2-black">{{pageData.laptopSection.title}}</h2>
        <p class="mt-3">{{pageData.laptopSection.description}}</p>
        <app-button-sinapsis
          [name_button]="'Lorem ipsum is simple'"
          [url]="pageData.laptopSection.urlBoton"
        ></app-button-sinapsis>
      </div>
    </div>
    <div class="other-service-pc desktop">
      <div class="scroll-right">
        <div class="row">
          <div class="col-md-6 col-12 other-item items-pc px-5">
            <div class="w-100">
              <h2 class="h2-black">{{pageData.laptopSection.title}}</h2>
              <p class="mt-3">{{pageData.laptopSection.description}}</p>
              <app-button-sinapsis
                [name_button]="'Lorem ipsum is simple'"
                [url]="pageData.laptopSection.urlBoton"
              ></app-button-sinapsis>
            </div>
          </div>
          <div
            class="col-md-6 col-12 other-item d-flex justify-content-end align-items-end position-relative"
          >
            <img class="computer" src="/assets/img/computer.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="statistics">
    <div class="container h-100 scroll-left">
      <div class="row d-flex justify-content-center align-items-center w-100">
        <div
          class="col-md-4 d-flex justify-content-center align-items-center h-100 item-statistics"
          *ngFor="let dataStadistics of pageData.sectionStadistics"
        >
          <div class="d-flex">
            <img class="icon" [src]="dataStadistics.icon" />
            <div class="content-statistics ms-3">
              <h3 class="m-0">+{{ dataStadistics.numbers }}</h3>
              <h3 class="m-0 title-statistics">
                {{ dataStadistics.title }}
              </h3>
              <p class="m-0">
                {{ dataStadistics.description }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="work-us parallax image-parallax">
    <div class="info-contact">
      <div class="content">
        <img src="/assets/icons/arrowdown.svg" alt="" />
        <h2>{{pageData.SectionWorkWithUs.Title}}</h2>
        <a [href]="pageData.SectionWorkWithUs.urlBoton">Botón</a>
      </div>
    </div>
  </section>
  <app-casos-de-exito />
</main>
