<div class="section-content__container caracteristicas-a">
  <h3 class="caracteristicas__title-a">Lorem ipsum</h3>
  <div class="caracterticas__cards">
    <app-caracteristica [icon]="'assets/workWithUs/trophy.svg'" [title]="'Lorem ipsum is'" [text]="'Lorem ipsum is simple texto of the printing and typesetting industry. lorem'"></app-caracteristica>
    <app-caracteristica [icon]="'assets/workWithUs/graphic.svg'" [title]="'Lorem ipsum is'" [text]="'Lorem ipsum is simple texto of the printing and typesetting industry. lorem'"></app-caracteristica>
    <app-caracteristica [icon]="'assets/workWithUs/feedback.svg'" [title]="'Lorem ipsum is'" [text]="'Lorem ipsum is simple texto of the printing and typesetting industry. lorem'"></app-caracteristica>
  </div>
  <app-button-sinapsis [name_button]="'Lorem ipsum is simple'"></app-button-sinapsis>
</div>
