:host {
  display: block;
  display: flex;
  justify-content: center;
  padding: 75px 0 50px 0;
  max-width: 90%;
  margin: auto;
}

.section-content__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  min-height: 380px;
  margin: 50px 0;

  p {
    text-align: center;
    text-wrap: balance;
  }

  &.section-content__container--contacto {
    min-height: inherit;
    margin: 0;
  }

  .caracterticas__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }
}
