:host {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.60);
}

::ng-deep{
  .modal-backdrop{
    z-index: 10 !important;
  }
}


::ng-deep {
  .k-list-container {
    overflow: hidden;
    border-radius: 10px;

    .k-list-content {
      &::-webkit-scrollbar {
        width: .3em;
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 24px;
        background: #B6B8DC;
      }

      .k-selected {
        background-color: #7042EF !important;
      }

      .k-focus {
        background-color: #7042EF !important;
        color: white;
      }

      .k-list-optionlabel {
        background-color: #7042EF !important;
      }
    }

    .k-list {
      .k-selected {
        background-color: #7042EF !important;
      }
    }
  }
}


.form-content--dragover {
  outline: 2px dashed #7042EF;
  border-radius: 10px;
  z-index: 5;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7042ef96;
    background-image: url('/assets/vacante/pdfupload.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 65px;
    z-index: 5;
    border-radius: 20px;
    color: white;
    font-size: 20px;
  }
}

.loader {
  width: 60px;
  height: 60px;
  position: absolute;
  z-index: 200;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #FFF;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
  opacity: 0;
}

.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.form-content--loader {
  border-radius: 10px;
  z-index: 5;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000073;
    z-index: 5;
    border-radius: 20px;
    color: white;
    font-size: 20px;
  }
}

.form-container {
  position: relative;
  width: 90%;
  max-width: 750px;
  background-color: white;
  height: 90vh;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;

  .close-icon {
    width: 20px;
    cursor: pointer;
    align-self: flex-end;
  }

  .form-content {
    padding: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    h3 {
      text-align: center;
      text-wrap: balance;
    }

    .form-wrapper {
      width: 100%;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        height: .8em;
        width: .5em;
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 24px;
        background: #B6B8DC;
      }


      .form {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        margin: auto;

        ::ng-deep .btn-sinapsis {
          margin-bottom: 20px;
        }

        .label-form {
          align-self: flex-start;
          margin-bottom: 20px;
          font-weight: 500;
        }

        .is-placeholder{
          ::ng-deep .k-input-inner {
            .k-input-value-text {
              color: #B7B1B1 !important;
            }
          }
        }

        .k-form-field {
          width: 100%;
          margin-bottom: 20px;

          .textbox,
          .k-picker {
            border: none;
            background: #D9D9D938;
            color: #1A1A1B;
            border-radius: 18px;
            height: 50px;
            width: 100%;
            padding: 0 35px;

            &::placeholder {
              color: #B7B1B1;
            }
          }

          .k-picker {
            ::ng-deep .k-input-inner {
              .k-input-value-text {
                color: #1A1A1B;
              }
            }
          }

          .k-upload {
            border: none;
            background-color: inherit;

            ::ng-deep .k-dropzone {
              flex-direction: column !important;
              min-height: 100px;


              .k-upload-button-wrap {

                .k-upload-button {
                  background-image: url('/assets/vacante/addcircle.svg');
                  background-repeat: no-repeat;
                  width: 50px;
                  height: 50px;
                  min-width: inherit;
                  background-color: inherit;
                  border: none;

                  transition: scale .5s ease;

                  &:hover {
                    background-color: inherit;
                    scale: 1.05;
                    transition: scale .5s ease;
                  }
                }
              }
            }
          }
        }

        .checkbox-input {
          align-items: center;
          display: flex;
          flex-direction: column;

          .k-form-field-checkbox-wrap {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 10px;

            .k-checkbox-label {
              font-family: Inter;
              font-weight: 300;

              ::ng-deep .k-label {
                cursor: pointer;
              }
            }

            ::ng-deep input {

              &:checked {
                border-color: #7042ef;
                background-color: #7042ef;

                &:focus {
                  box-shadow: 0 0 0 2px #7042ef4d;
                }
              }

            }
          }

          .k-form-error {
            justify-content: center;
          }
        }

      }
    }
  }
}

#terms-condicion {
  color: #7042ef;
  cursor: pointer;
  transition: all 0.5s ease-out;
  margin-left: 3px;

  &:hover {
    color: #4406f0;
    transition: all 0.5s ease-out;
  }
}

@media (max-width: 530px) {
  .form-container {
    .form-content {
      .form-wrapper {
        .form {
          width: 100%;
        }
      }
    }
  }
}
