<div class="c-card-post">
  <div class="c-card-post__content">
    <img class="c-card-post__img" [src]="postInfo.featuredImg" alt="test" width="250" height="250">
    <div class="c-card-post__body">
      <div class="c-card-post-label">
        <span class="c-card-post-label__cat">{{postInfo.category}}</span>
        <span class="c-card-post-label__date">{{postInfo.date}}</span>
      </div>
      <h3 class="c-card-post__title">{{postInfo.title}}</h3>
      <p class="c-card-post__excerpt">{{postInfo.excerpt}}</p>
    </div>
  </div>
</div>