.work-team {
  width: 100%;
  margin: 40px 0;
  min-height: 500px;

  .content-team {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;

    .flip-card {
      background-color: transparent;
      height: 240px;
      perspective: 1000px;
      border-radius: 5px;
      cursor: pointer;

      .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.9s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: 20px;

        .flip-card-front,
        .flip-card-back {
          position: absolute;
          width: 100%;
          height: 100%;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
        }

        .flip-card-front {
          background-color: #fff;
          color: black;

          .img-card {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .flip-card-back {
          background-color: #fff;
          color: black;
          transform: rotateY(180deg);
          display: grid;
          place-content: center;
          place-items: center;
          padding: 0 15px;

          .font-card {
            font-weight: 700;
          }
        }
      }
    }

    .flip-card:hover .flip-card-inner {
      transform: rotateY(180deg);
    }

    .card-section {
      grid-column: 5/7;
      grid-row-start: 1;
      display: grid;
      place-content: center;
      padding: 0 10px;
    }

    .work-card {
      background-color: #7042ef;
      grid-column: 4/7;
      grid-row-start: 2;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: start;
      padding-left: 50px;
      min-height: 240px;

      .arrow {
        position: absolute;
        right: 0;
        top: 0;
      }

      a {
        width: 50%;
        font-size: 25px;
        color: #fff;
        text-decoration: underline;
      }
    }
  }
  ::ng-deep{
    kendo-datapager{
    margin-top: 30px;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

    &:focus{
      box-shadow: none;
    }
  
    .k-button-text{
      color: #7042ef;
      font-size: 1.2rem;
      transition: all 0.5s ease-out;
    }

    .k-pager-numbers{
      display: block !important;
    }

    .k-dropdown-list{
      display: none !important;
    }

    .k-selected{
      font-weight: bold;
      transform: scale(1.2);
      transition: all 0.5s ease-out;
    }

    .k-button-flat-primary{
      color: transparent  ;
    }

    .k-button{
      min-width: none;
    }
  }
  }
}

@media screen and (max-width: 1023px) {
  .work-team {
    .content-team {
      grid-template-columns: repeat(4, 1fr);
      .card-section {
        grid-column: 3/5;
      }

      .work-card {
        grid-column: 2/5;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .work-team {
    .content-team {
      grid-template-columns: repeat(2, 1fr);
      .card-section {
        grid-column: 1/3;
      }

      .work-card {
        grid-column: 1/3;
        grid-row-start: 7;
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .work-team {
    .content-team {
      grid-template-columns: repeat(1, 1fr);
      .card-section {
        grid-column: 1/2;
      }

      .work-card {
        grid-column: 1/2;
        grid-row-start: 10;
        padding: 10px !important;
        
        .arrow{
          display: none;
        }

        a{
          width: 100%;
        }
      }
    }
  }
}
