<section class="work-team">
  <div class="container">
    <div class="content-team">
      <div class="flip-card" *ngFor="let item of integrantesData">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img class="img-card" [src]="item.photo" alt="" />
          </div>
          <div class="flip-card-back">
            <span class="font-card" i18n>{{ item.name }} {{ item.lastName }}</span>
            <div class="cargo-content">
              <span i18n>{{ item.cargo }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card-section">
        <div class="p" i18n>{{ textSection.title }}</div>
        <h4 i18n>{{ textSection.subtitle }}</h4>
      </div>
      <div class="work-card">
        <img class="arrow" src="/assets/icons/arrowdown.svg" alt="" />
        <div id="redirection-work">
          <a href="/trabaja-con-nosotros" i18n>{{ textSection.workWithUs }}</a>
        </div>
      </div>
    </div>
    <kendo-datapager
      [total]="dataPagination.totalItems"
      [pageSize]="dataPagination.perPage"
      [info]="false"
      [type]="'numeric'"
      [previousNext]="false"
      [pageSizeValues]="false"
      [skip]="skip"
      (pageChange)="onPageChange($event)"
    />
  </div>
</section>
