<section class="other-service">
  <div class="section-service-mobile desktop">
    <div class="container h-100">
      <div class="row content-mobile h-100 position-relative scroll-left">
        <div class="col-md-6 item-mobile h-100">
          <img class="logo-sinapsis" src="/assets/img/logo_mark.svg" alt="" />
          <div class="phone">
            <div class="cell">
              <app-project-mobile
                [url_image]="pageData.phoneSection.video"
                [id]="2"
              ></app-project-mobile>
            </div>
            <img class="shad" src="/assets/img/shadow.svg" alt="" />
          </div>
        </div>
        <div class="col-md-6 item-mobile item_service h-100">
          <h2>{{ pageData.phoneSection.title }}</h2>
          <p [innerHTML]="pageData.phoneSection.description"></p>
          <app-button-sinapsis
            [name_button]="pageData.phoneSection.buttonName"
            [url]="pageData.phoneSection.urlBoton"
          ></app-button-sinapsis>
        </div>
      </div>
    </div>
  </div>
  <div class="other-service-pc desktop">
    <div class="row w-100 m-0">
      <div class="col-md-6 col-12 other-item items-pc px-5">
        <div class="w-100">
          <h2 class="h2-black">{{ pageData.laptopSection.title }}</h2>
          <p class="mt-3" [innerHTML]="pageData.laptopSection.description"></p>
          <app-button-sinapsis
            [name_button]="pageData.laptopSection.buttonName"
            [url]="pageData.laptopSection.urlBoton"
          ></app-button-sinapsis>
        </div>
      </div>
      <div
        class="col-md-6 col-12 other-item d-flex justify-content-end align-items-end position-relative p-0 scroll-right"
      >
        <div class="laptop-container">
          <app-proyect-laptop [idLaptop]="5" [changeUrl]="pageData.laptopSection.video"></app-proyect-laptop>
        </div>
      </div>
    </div>
  </div>
</section>
