<section class="other-service my-5">
  <div class="mobile">
    <div class="phone phone_mobile">
      <img class="cell cell_mobile" src="/assets/img/cell.svg" alt="" />
      <img class="shad shad_mobile" src="/assets/img/shadow.svg" alt="" />
    </div>
    <div class="w-100 text-center px-3 mt-4">
      <h2>{{ pageData.phoneSection.title }}</h2>
      <p [innerHTML]="pageData.phoneSection.description"></p>
    </div>
  </div>
  <div class="section-service-mobile desktop">
    <div class="container h-100">
      <div class="row content-mobile h-100 position-relative scroll-left">
        <div class="col-md-6 item-mobile h-100">
          <img class="logo-sinapsis" src="/assets/img/logo_mark.svg" alt="" />
          <div class="phone">
            <img class="cell" src="/assets/img/cell.svg" alt="" />
            <img class="shad" src="/assets/img/shadow.svg" alt="" />
          </div>
        </div>
        <div class="col-md-6 item-mobile item_service h-100">
          <h2>{{ pageData.phoneSection.title }}</h2>
          <p [innerHTML]="pageData.phoneSection.description"></p>
          <app-button-sinapsis
            [name_button]="'Lorem ipsum is simple'"
            [url]="pageData.phoneSection.urlBoton"
          ></app-button-sinapsis>
        </div>
      </div>
    </div>
  </div>
  <div class="container mobile">
    <div
      class="container d-flex justify-content-center align-items-center w-100 p-5"
    >
      <img class="img_portatil" src="/assets/img/portatil.png" alt="" />
    </div>
    <div class="text-center w-100">
      <h2 class="h2-black">{{ pageData.laptopSection.title }}</h2>
      <p class="mt-3" [innerHTML]="pageData.laptopSection.description"></p>
      <app-button-sinapsis
        [name_button]="'Lorem ipsum is simple'"
        [url]="pageData.laptopSection.urlBoton"
      ></app-button-sinapsis>
    </div>
  </div>
  <div class="other-service-pc desktop">
    <div class="scroll-right">
      <div class="row w-100 m-0">
        <div class="col-md-6 col-12 other-item items-pc px-5">
          <div class="w-100">
            <h2 class="h2-black">{{ pageData.laptopSection.title }}</h2>
            <p
              class="mt-3"
              [innerHTML]="pageData.laptopSection.description"
            ></p>
            <app-button-sinapsis
              [name_button]="'Lorem ipsum is simple'"
              [url]="pageData.laptopSection.urlBoton"
            ></app-button-sinapsis>
          </div>
        </div>
        <div
          class="col-md-6 col-12 other-item d-flex justify-content-end align-items-end position-relative p-0"
        >
          <img class="computer" src="/assets/img/computer.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
