.history {
  position: relative;
  min-height: 800px;
  overflow: hidden;

  .logo-sinapsis {
    position: absolute;
    bottom: 0;
    right: -64%;
    width: 50%;
    height: auto;
    transform: translateX(-50%);
  }

  .content-history {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    .history-image {
      max-width: 500px;

      .img-office {
        width: 100%;
      }
    }

    #text-content-history {
      width: 730px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-left: 90px;
      position: relative;

      .ic-arrow {
        width: 85px;
        height: 85px;
        position: absolute;
        top: -60px;
        right: 40%;
        transform: rotateY(180deg);
      }

      .ourHistoryText {
        margin-top: 30px;
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  #text-content-history {
    width: 90% !important;
    padding-left: 0 !important;
    text-align: center;
    margin-top: 40px;

    .ic-arrow {
      right: 0 !important;
    }
  }
}
