<main class="about-us">
  
  <app-carrusel [pageData]="pageData"></app-carrusel>
  <section class="history my-5">
    <img
      class="logo-sinapsis"
      src="/assets/img/logo_mark.svg"
      alt=""
      *ngIf="!isMobile"
    />
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
        <div
          class="col-md-5 col-12 item-history history-image"
          *ngIf="!isMobile"
        >
          <img
            *ngIf="pageData.ourHistory.imagen"
            class="img-office"
            [src]="pageData.ourHistory.imagen"
            alt=""
          />
        </div>
        <div
          class="col-md-7 col-12 d-flex justify-content-end item-history"
          id="text-content-history"
        >
          <div class="content-text-hystory">
            <img class="ic-arrow" src="/assets/icons/arrowUp.svg" alt="" />
            <h2>{{ pageData.ourHistory.title }}</h2>
            <p class="ourHistoryText">{{ pageData.ourHistory.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-mision-vision [pageData]="pageData"></app-mision-vision>
  <app-workout [pageData]="pageData"></app-workout>
  <app-nuestras-tecnologias></app-nuestras-tecnologias>
  <app-integrantes></app-integrantes>
  <app-timeline [pageData]="pageData"></app-timeline>
  <app-redes-sociales></app-redes-sociales>
</main>
