<main class="about-us">
  <section class="slider-section">
    <owl-carousel-o [options]="customOptions" *ngIf="!isMobile">
      <ng-container *ngFor="let slider of sliderImg">
        <ng-template carouselSlide>
          <img class="img-slider" [src]="slider.imagen" alt="" />
        </ng-template>
      </ng-container>
    </owl-carousel-o>
    <div class="grid-image" *ngIf="isMobile">
      <img class="img-mobile" *ngFor="let slider of sliderImg" [src]="slider.imagen" alt="" />
    </div>
  </section>
  <section class="history my-5">
    <!-- <img
      class="logo-sinapsis"
      src="/assets/img/logo_mark.svg"
      alt=""
      *ngIf="!isMobile"
    /> -->
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-5 col-12 item-history" *ngIf="!isMobile">
          <img
            class="img-office"
            src="/assets/nosotros/sinapsis-office.png"
            alt=""
          />
        </div>
        <div
          class="col-md-7 col-12 d-flex justify-content-end item-history"
          id="text-content-history"
        >
          <div class="content-text-hystory">
            <img class="ic-arrow" src="/assets/icons/arrowUp.svg" alt="" />
            <h2>Nuestra historia</h2>
            <p>
              Lorem ipsum dolor sit amet. Ea cumque nemo ab laudantium corporis
              sed earum ratione eos dolores saepe et quos tempora aut autem
              maiores ea magni doloremque. Et velit dolores in placeat voluptas
              et culpa nulla aut galisum odit. In perferendis temporibus ut
              nulla illo ut placeat debitis vel commodi voluptates qui dicta
              asperiores rem laboriosam impedit.
            </p>
            <p>
              Sed magni aperiam eos totam excepturi aut voluptatibus quos id
              quisquam voluptas ut harum accusantium et quaerat esse vel
              veritatis possimus. Qui quia aperiam est necessitatibus quidem nam
              velit sint est magnam corporis aut soluta delectus a vitae autem
              aut dicta facere. Vel mollitia labore qui doloribus facilis et
              quia aperiam et iure consequatur? Sit nostrum sunt non beatae
              ipsam nam sunt similique est dolor doloribus vel dicta quasi et
              nostrum facilis. Sed expedita mollitia et iure eaque qui ipsam
              debitis.
            </p>
            <p>
              Ab adipisci reprehenderit est maxime dolore non labore
              consequuntur rem aperiam consectetur et illum quia sed veritatis
              distinctio ut quas enim.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="timeline d-flex justify-content-center align-items-center">
    <div class="container">
      <p class="title-time">
        Lorem ipsum is simple texto of the printing and typesetting industry.
        lorem ipsum has been the
      </p>
      <p-timeline
        [value]="timelineItems"
        [layout]="timelineType"
        [align]="positionTimeline"
      >
        <ng-template pTemplate="opposite" let-event>
          <div class="event-opposite position-relative">
            <img class="icon-time" [src]="event.icon" alt="" />
          </div>
        </ng-template>
        <ng-template pTemplate="marker" let-event>
          <span class="custom-marker shadow-2">
            <i class="pi pi-circle-on marker-time"></i>
          </span>
        </ng-template>
        <ng-template pTemplate="content" let-event>
          <div class="event-content position-relative">
            <div class="content-text">
              <p>{{ event.title }}</p>
              <p class="description-time">{{ event.description }}</p>
              <p>{{ event.year }}</p>
            </div>
          </div>
        </ng-template>
      </p-timeline>
    </div>
  </section>
  <section class="mision-vision mt-3 position-relative">
    <img
      src="/assets/img/transparent-logo.svg"
      class="logo-transparent"
      alt=""
    />
    <div class="row w-100 h-100 m-0">
      <div
        class="col-12 col-md-6 d-flex justify-content-center align-items-center px-3 item-mision-vision"
      >
        <div class="content-info">
          <h2>Misión</h2>
          <p>
            Lorem ipsum is simple texto of the printing and typesetting
            industry. lorem ipsum has been the Lorem ipsum is simple texto of
            the printing and typesetting industry. lorem ipsum has been the
            Lorem ipsum is simple texto of the printing and typesetting
            industry.
          </p>
        </div>
      </div>
      <div
        class="col-12 col-md-6 d-flex justify-content-center align-items-center px-3 item-mision-vision"
      >
        <div class="content-info">
          <h2>Visión</h2>
          <p>
            Lorem ipsum is simple texto of the printing and typesetting
            industry. lorem ipsum has been the Lorem ipsum is simple texto of
            the printing and typesetting industry. lorem ipsum has been the
            Lorem ipsum is simple texto of the printing and typesetting
            industry.
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
