<section class="testimonios">
  <article class="testimonios__title-section" appScrollReveal y="100">
    <div class="section-text-container">
      <img class="graphic-logo-part" src="assets\icons\graphic-logo-part.svg" alt="Parte del logo">
      <h3>{{dataSection.titulo_testimonios}}</h3>
      <p>{{dataSection.descripcion_testimonio}}</p>
    </div>
  </article>
  <article class="testimonios__reviews" appScrollReveal y="100" selectorClassAnimation="testimonio"
    [isPending]="isPendingTestimonios">
    <owl-carousel-o class="carrousel" [options]="testimonyOptions">
      <ng-container *ngFor="let testimonio of testimonios">
        <ng-template carouselSlide>
          <div class="testimonio">
            <div class="testimonio__reviewer">
              <div class="testimonio__photo">
                <img [src]="testimonio.logoCompany" alt="logo-cliente">
              </div>
              <div class="testimonio__info">
                <p class="testimonio__cliente">{{testimonio.title}}</p>
                <span class="testimonio__persona">
                  <p class="testimonio__nombre-persona"><span
                      class="testimonio__cargo">{{testimonio.companyPosition}}</span> {{testimonio.testimonial}}</p>
                </span>
              </div>
            </div>
            <p class="testimonio__feedback" [innerHTML]="testimonio.comment"></p>
            <div class="testimonio__ratings">
              <span class="testimonio__stars">
                <div #star *ngFor="let item of starsLogic(testimonio.score)" [ngStyle]="{'width.px': starClipped(item)}"
                  (click)="starClipped(item)" class="star-container">
                  <img src="assets\icons\star.svg" alt="Nivel del rating">
                </div>
              </span>
              <p class="testimonio__rating-value">{{testimonio.score}}</p>
            </div>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </article>
</section>
