.tecnologies-comp {
  width: 100%;
  min-height: 700px;
  padding: 60px 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .tecnologias-desc{
    width: 50%;
    margin: auto;
  }

  .content-icons{
    width: 100%;
    height: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;

    .content-items {
      width: 60%;
      height: 100%;
      margin: auto;
      position: absolute;
  
      img {
        position: absolute;
      }
    }
  
    .layer-1 {
      img{
        height: 75px;
        width: 90px;
      }
      img:nth-child(1) {
        top: 32px;
        left: 0;
      }
      img:nth-child(2) {
        top: 30px;
        right: 0;
      }
      img:nth-child(3) {
        left: 0;
        bottom: 63px;
      }
      img:nth-child(4) {
        right: 0;
        bottom: 12px;
      }
      img:nth-child(5) {
        top: 50%;
        left: 50%;
      }
    }
  
    .layer-2 {
      img{
        height: 60px;
        width: 65px;
      }
      img:nth-child(1) {
        top: 111px;
        left: 14%;
      }
      img:nth-child(2) {
        top: 123px;
        right: 14%;
      }
      img:nth-child(3) {
        top: 310px;
        left: 19%;
      }
      img:nth-child(4) {
        top: 358px;
        right: 15%;
      }
      img:nth-child(5) {
        bottom: 30px;
        left: 60%;
      }
    }
  
    .layer-3 {
      img{
        height: 75px;
        width: 60px;
      }
      img:nth-child(1) {
        right: 20%;
        top: 62px;
      }
      img:nth-child(2) {
        left: 12%;
        top: 200px;
      }
      img:nth-child(3) {
        bottom: 50px;
        left: 43%;
      }
      img:nth-child(4) {
        top: 220px;
        right: 60%;
      }
      img:nth-child(5) {
        bottom: 165px;
        right: 7%;
      }
    }
  
    .layer-4 {
      img{
        height: 85px;
        width: 60px;
      }
      img:nth-child(1) {
        left: 53%;
        top: 38px;
      }
      img:nth-child(2) {
        left: 30%;
        top: 60px;
      }
      img:nth-child(3) {
        top: 213px;
        right: 22%;
      }
      img:nth-child(4) {
        top: 144px;
        right: 45%;
      }
      img:nth-child(5) {
        bottom: 20px;
        left: 25%;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .tecnologias-desc{
    width: 100% !important;
  }

  .content-items{
    width: 90% !important;
  }
}

@media screen and (max-width: 767px) {
  .layer-1 {
    img{
      height: 73px !important;
      width: 43px !important;
    }
    img:nth-child(1) {
      top: 62px !important;
      left: 29px !important;
    }
    img:nth-child(2) {
      top: 82px !important;
      right: 44px !important;
    }
    img:nth-child(3) {
      left: 29px !important;
      bottom: 79px !important;
    }
    img:nth-child(4) {
      right: 61px !important;
      bottom: 12px !important;
    }
    img:nth-child(5) {
      top: 50% !important;
      left: 43% !important;
    }
  }

  .layer-2 {
    img{
      height: 50px !important;
      width: 55px !important;
    }
    img:nth-child(1) {
      top: 148px !important;
      left: 17% !important;
    }
    img:nth-child(2) {
      top: 183px !important;
      right: 10% !important;
    }
    img:nth-child(3) {
      top: 285px !important;
      left: 19% !important;
    }
    img:nth-child(4) {
      top: 354px !important;
      right: 13% !important;
    }
    img:nth-child(5) {
      bottom: 21px !important;
      left: 34% !important;
    }
  }

  .layer-3 {
    img{
      height: 65px !important;
      width: 50px !important;
    }
    img:nth-child(1) {
      right: 42% !important;
      top: 78px !important;
    }
    img:nth-child(2) {
      left: 47% !important;
      top: 155px !important;
    }
    img:nth-child(3) {
      bottom: 105px !important;
      left: 44% !important;
    }
    img:nth-child(4) {
      top: 218px !important;
      right: 66% !important;
    }
    img:nth-child(5) {
      bottom: 158px !important;
      right: 13% !important;
    }
  }

  .layer-4 {
    display: none;
    img{
      height: 60px;
      width: 50px;
    }
    img:nth-child(1) {
      left:31% !important;
      top: 50px !important;
    }
    img:nth-child(2) {
      left: 40% !important;
      top: 122px !important;
    }
    img:nth-child(3) {
      top: 175px !important;
      right: 14% !important;
    }
    img:nth-child(4) {
      top: 248px !important;
      right: 72% !important;
    }
    img:nth-child(5) {
      bottom: 20px !important;
      left: 27% !important;
    }
  }
}