<section class="social-networks  d-flex justify-content-center align-items-center">
    <div class="container d-flex justify-content-center align-items-center">
        <div class="content-socials text-center">
            <p>Redes sociales</p>
            <div class="icons-content mt-3">
                <a *ngFor="let icon of dataIcons" [href]="icon.url" target="_blank" aria-label="Conoce nuestras redes sociales">
                    <img class="icon" [src]="icon.icon" alt="">
                </a>
            </div>
        </div>
    </div>
</section>
