<div class="tecnologias--container">
    <h5 class="tecnologias-title">Algunas de nuestras tecnologías.</h5>
    <p class="tecnologias-desc">Lorem ipsum is simple texto of the printing and typesetting industry. lorem ipsum has
        been the Lorem ipsum is simple texto of the printing and typesetting industry. lorem ipsum has been the Lorem
        ipsum is simple texto of the printing and typesetting industry. lorem ipsum has been the Lorem ipsum is simple
        texto of the printing and typesetting industry. lorem ipsum has been the</p>
    <div class="swiper">
        <div class="swiper-wrapper">
            <div *ngFor="let caso of tecnologias, let i=index" class="swiper-slide logo--container">
                <img class="tecnologia-logo" [ngClass]="{'anim': i <= animIndex}" [src]="caso" alt="tecnologias">
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</div>