<kendo-textbox placeholder="Buscar trabajo" rounded="none" class="custom-rounded">
</kendo-textbox>

<div class="dropdown-filter">
  <div class="dropdown-container" id="rol">
    <kendo-dropdownlist id="rol"  defaultItem="Área" [data]="rol"></kendo-dropdownlist>
    <kendo-dropdownlist id="remoto" defaultItem="Tecnología" [data]="remoto"></kendo-dropdownlist>
  </div>
</div>

<kendo-grid #gridVacancie [kendoGridBinding]="vacancies" [height]="393"
 (cellClick)="gridUserSelectionChange(gridVacancie, $event)">
  <kendo-grid-column
    [headerClass]="'headerCustomClass'"
    [class]="'cellCustomClass rolClass'"
    field="title"
    title="Rol"
    [width]="210"
    [minResizableWidth]="200"

    ></kendo-grid-column>

  <kendo-grid-column
    [headerClass]="'headerCustomClass'"
    [class]="'cellCustomClass'"
    field="title"
    title="Área"
    [width]="210"
    [minResizableWidth]="200"
    ></kendo-grid-column>

  <kendo-grid-column
    [headerClass]="'headerCustomClass'"
    [class]="'cellCustomClass '"
    field="title"
    title="Nivel"
    title="Rol"[width]="210"
    [minResizableWidth]="200"
    ></kendo-grid-column>


</kendo-grid>
