<div class="c-post-featured">
  <h2 class="c-post-featured__title">Artículos destacados</h2>
  <p class="c-post-featured__description">Lorem ipsum is simple texto of the printing and typesetting industry.</p>
  <div class="c-post-featured__slider">
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let post of BlogPosts.slice(0, 4)">
        <ng-template carouselSlide>
          <app-card-post [postInfo]="post"></app-card-post>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
</div>
