:host {
  width: 100%;
}

.c-post-featured {

  .c-post-featured__slider {
    ::ng-deep {

      .owl-item {
        margin-bottom: 10px;
      }
    }
    #msg-post{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      transform: translateY(180px);
      color: #7042EF;
    }
  }
}
