<section
  *ngIf="!isWWUResponsive; else WWUMovile"
  class="trabaja-con-nosotros"
  appScrollReveal
  y="100"
  selectorClassAnimation="wwu-a"
>
  <article class="section__content section__content--white">
    <div class="content__container">
      <div class="section__text-container">
        <div class="wwu-a">
          <span class=".sup-title">Trabaja con nosotros</span>
          <h2>{{ dataWorkUs.title }}</h2>
        </div>
        <p class="wwu-a" [innerHTML]="dataWorkUs.description"></p>
      </div>
    </div>
    <div class="section__action">
      <a routerLink="/trabaja-con-nosotros" class="redirect-button">
        {{ dataWorkUs.extraText }}
      </a>
    </div>
  </article>
  <article
    appParallax
    selectorClassAnimation="employee-wwu-a"
    class="trabaja-con-nosotros__graphic"
  >
    <img
      [src]="dataWorkUs.imagen"
      alt="Empleada Sinapsis"
      class="employee-wwu-a"
    />
  </article>
</section>
<ng-template #WWUMovile>
  <section class="nuestros-servicios__movile">
    <article class="section__content section__content--white">
      <div class="content__container">
        <div class="section__text-container">
          <div
            appScrollReveal
            y="100"
            selectorClassAnimation="wwu-a"
            class="wwu-a"
          >
            <span class=".sup-title">Trabaja con nosotros</span>
            <h2>{{ dataWorkUs.title }}</h2>
          </div>
          <p class="wwu-a" [innerHTML]="dataWorkUs.description"></p>
          <a class="redirect-button" href="#">
            {{ dataWorkUs.extraText }}
          </a>
        </div>
      </div>
    </article>
  </section>
</ng-template>
