/** Colors */

.o-header {
  box-shadow: 0px 4px 28px 0px rgba(0, 0, 0, 0.1);
  position: sticky;
  width: 100%;
  top: 0px;
  left: 0;
  z-index: 10;
  background: var(--second-color);
  transition: 0.35s;

  &__content{
    display: grid;
    grid-template-columns: 14%  85%;
    gap: 5px;
    align-items: center;
    text-align: center;
    max-width: 90%;
    margin: auto;
    height: 89px;
    transition: 0.35s ease-in-out;
  }
}

.content-nav-options{
  display: grid;
  grid-template-columns: 74% 16% 10%;
  align-items: center;
}

.o-menu-mobile{
  display: none;
}




/** Animtion == control internal*/
.has-slim-nav{
  transition: 0.35s ease-in-out;

  .o-header__content{
    height: 60px;
    transition: 0.35s ease-in-out;
  }

  button.btn-sinapsis{
    padding: 4px 15px !important;
    transition: 0.35s;
  }

}

@media(max-width:1200px){

  .o-header{
    &__content {
      grid-template-columns: 88% 10%;
      height: 65px;
    }
  }

  /** Mobile menu */
  .o-menu-mobile{
    display: block;
    position: relative;
    height: 20px;

    &__lines{
      background: var(--main-color);
      display: block;
      height: 1px;
      width: 30px;
      border-radius: 5px;
      position: absolute;
    }

    &--top{
      top: 1px;
      transition: 0.35s;
    }

    &--center{
      top: 50%;
      opacity: 1;
      transition: 0.35s;
    }

    &--bottom{
      bottom: 0;
      transition: 0.35s;
    }

    /** Animation */
    .has-mobile-transform &--top{
      top: 50%;
      transform: rotate(45deg);
      transition: 0.35s;
    }

    .has-mobile-transform &--center{
      top: 50%;
      opacity: 0;
      transition: 0.35s;
    }

    .has-mobile-transform &--bottom{
      transform: rotate(-45deg);
      bottom: 50%;
      transition: 0.35s;
    }

  }

  .content-nav-options{
    grid-template-columns: 100%;
    position: absolute;
    top: 56px;
    background: white;
    width: 100%;
    left: 0px;
    max-height: 0px;
    overflow: hidden;
    transition: 0.35s ease-out;
    height: 0vh;
  }

  .has-show-menu{
    max-height: 800px;
    height: 100vh;
    transition: 0.35s ease-in;
    padding-bottom: 20px;
  }

}







