<div class="c-arrow-back">
  <a *ngIf="isVacancies; else default" [routerLink]="'/trabaja-con-nosotros/vacantes'" class="c-arrow-back__content">
    <svg class="c-arro-back__svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
      fill="none">
      <path d="M9.57 5.92993L3.5 11.9999L9.57 18.0699M20.5 11.9999H3.67" stroke="#1A1A1B" stroke-width="1.5"
        stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
    <span class="c-arrow-back__text">Volver</span>
  </a>
  <ng-template #default>
    <a [routerLink]="'../'" class="c-arrow-back__content">
      <svg class="c-arro-back__svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
        fill="none">
        <path d="M9.57 5.92993L3.5 11.9999L9.57 18.0699M20.5 11.9999H3.67" stroke="#1A1A1B" stroke-width="1.5"
          stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
      <span class="c-arrow-back__text">Volver</span>
    </a>
  </ng-template>
</div>
