<main *ngIf="initialRender">
  <section class="banner-principal-w">
    <div class="section-content container">
      <div
        class="section-content__container"
        appScrollReveal
        x="-30%"
        duration="1"
        stagger="0.3"
        selectorClassAnimation="banner-wwu-a"
        ease="expo"
      >
        <h1 class="banner-wwu-a">
          {{ pageWorkWithUs.mainBanner.titleSection }}
        </h1>
        <a
          routerLink="/trabaja-con-nosotros/vacantes"
          class="button-banner banner-wwu-a"
          >{{ pageWorkWithUs.mainBanner.descriptionText
          }}<img src="assets/icons/arrow-top-left.png" alt=""
        /></a>
      </div>
    </div>
  </section>
  <section class="info-text">
    <div class="section-content container">
      <div
        class="section-content__container"
        appScrollReveal
        selectorClassAnimation="info-a"
        y="50px"
        ease="expo"
        duration="1"
        stagger="0.3"
      >
        <h2 class="info-a">
          {{ pageWorkWithUs.descriptionSection.title }}
        </h2>
        <p
          class="info-a"
          [innerHTML]="pageWorkWithUs.descriptionSection.descriptionField"
        ></p>
      </div>
    </div>
    <img
      src="\assets\icons\graphic-logo-part.svg"
      alt=""
      class="logo-part-graphic"
    />
  </section>
  <section class="beneficios container">
    <article class="beneficios__graphics">
      <div class="beneficios__images-container">
        <img
          src="assets\icons\purple-logo-icon.svg"
          alt="Logo Sinapsis"
          class="logo-icon"
        />
        <div class="employee-image__container">
          <img
            class="employee"
            [src]="pageWorkWithUs.advantagesWorkingWithUs.imagen"
            alt="Equipo de trabajo"
          />
        </div>
      </div>
    </article>
    <article
      class="beneficios__container"
      appScrollReveal
      selectorClassAnimation="beneficios__content-a"
      y="50%"
      ease="expo"
      duration="1"
      stagger="0.3"
      start="-50% 70%"
    >
      <div
        class="beneficios__content"
        appScrollReveal
        selectorClassAnimation="beneficios__perk"
        y="50%"
        ease="expo"
        duration="1"
        stagger="0.3"
      >
        <h3 class="beneficios__content-a">
          {{ pageWorkWithUs.advantagesWorkingWithUs.title }}
        </h3>
        <p class="beneficios__content-a">
          {{ pageWorkWithUs.advantagesWorkingWithUs.description }}
        </p>
      </div>
      <app-perks
        [perks]="pageWorkWithUs.advantagesWorkingWithUs.addOptions"
      ></app-perks>
    </article>
  </section>
  <section class="carateristicas">
    <article class="section-content container">
      <app-caracteristicas
        [title]="pageWorkWithUs.otherAdvantages.titulo"
        [characteristics]="pageWorkWithUs.otherAdvantages.otherAdvantages"
        [nameButton]="pageWorkWithUs.otherAdvantages.buttonTitle"
        class="caracteristicas-a"
        appScrollReveal
        selectorClassAnimation="caracteristicas__title-a"
        y="50%"
        ease="expo"
        duration="1"
        stagger="0.3"
      />
    </article>
  </section>
</main>
