<section class="banner-principal">
  <div class="section-content container">
    <div class="section-content__container">
      <h1 class="banner-a">Lorem ipsum is simply text of the printing</h1>
      <button class="banner-a">Lorem Ipsum is simply dummy text of the
      printing and typesetting industry.<img src="assets/icons/arrow-top-left.png" alt=""></button>
    </div>
  </div>
</section>
<section class="info-text">
  <div class="section-content container">
    <div class="section-content__container">
      <h2 class="info-a">Lorem ipsum is simply dummy text of the printing and typesetting</h2>
      <p class="info-a">Lorem ipsum is simple texto of the printing and typesetting industry. lorem ipsum has been the Lorem ipsum is simple
      texto of the printing and typesetting industry. lorem ipsum has been the Lorem ipsum is simple texto of the printing and
      typesetting industry. Lorem ipsum is simple texto of the printing and typesetting industry. lorem ipsum has been the
      Lorem ipsum is simple texto of the printing and typesetting industry. lorem ipsum has been the Lorem ipsum is simple
      texto of the printing and typesetting industry. Lorem ipsum is simple texto of the printing and typesetting industry.
      lorem ipsum has been the Lorem ipsum is simple texto of the printing and typesetting industry. lorem ipsum has been the
      Lorem ipsum is simple texto of the printing and typesetting industry. Lorem ipsum is simple texto of the printing and
      typesetting industry. lorem ipsum has been the Lorem ipsum is simple texto of the printing and typesetting industry.
      lorem ipsum has been the Lorem ipsum is simple texto of the printing and typesetting industry. Lorem ipsum is simple
      texto of the printing and typesetting industry. lorem ipsum has been the Lorem ipsum is simple texto of the printing and
      typesetting industry. lorem ipsum has been the Lorem ipsum is simple texto of the printing and typesetting industry.
      Lorem ipsum is simple texto of the printing and typesetting industry. lorem ipsum has been the Lorem ipsum is simple
      texto of the printing and typesetting industry. lorem ipsum has been the Lorem ipsum is simple texto of the printing and
      typesetting industry.</p>
    </div>
  </div>
  <img src="\assets\icons\graphic-logo-part.svg" alt="" class="logo-part-graphic">
</section>
<section class="beneficios container">
  <article class="beneficios__graphics">
    <div class="beneficios__images-container">
      <img src="assets\icons\purple-logo-icon.svg" alt="Logo Sinapsis" class="logo-icon">
      <div class="employee-image__container">
        <img class="employee" src="assets\workWithUs\employee-2.png" alt="Equipo de trabajo">
      </div>
    </div>
  </article>
  <article class="beneficios__container">
    <div class="beneficios__content">
      <h3 class="beneficios__content-a">Lorem ipsum is simply dummy text of the printing and typesetting</h3>
      <p class="beneficios__content-a">Lorem ipsum is simple texto of the printing and typesetting industry. lorem ipsum has been the Lorem ipsum is simple
      texto of the printing and typesetting industry.</p>
    </div>
    <app-perks></app-perks>
  </article>
</section>
<section class="carateristicas">
  <article class="section-content container">
   <app-caracteristicas class="caracteristicas-a"/>
  </article>
</section>
