<main class="portafolio-detail">
  <div class="container">
    <app-arrow-back></app-arrow-back>
    <section class="firstSection mt-3">
      <img class="img-logo" [src]="dataPage.general.logo" alt="" />
      <h3>{{dataPage.title}}</h3>
      <p class="mt-3">{{dataPage.general.description}}</p>
      <a [href]="dataPage.general.urlProject" target="_blank">{{dataPage.title}}</a>
    </section>
    <app-tecnologias-portafolio [dataPage]="dataPage"></app-tecnologias-portafolio>
    <section class="content-laptop">
      <app-proyect-laptop
        [changeUrl]="dataPage.visualProject.Resourselaptop"
      ></app-proyect-laptop>
    </section>
    <section class="other-info text-center portafolio-anim">
      <h3>{{dataPage.visualProject.title}}</h3>
      <p class="mt-3" [innerHTML]="dataPage.visualProject.description"></p>
    </section>
    <app-section-mobile [dataPage]="dataPage"></app-section-mobile>
  </div>
</main>
