.portafolio-detail {
  width: 100%;
  padding-top: 50px;

  .firstSection {
    width: 50%;
    height: 280px;
    margin: auto;
    display: grid;
    place-content: center;
    place-items: center;
    text-align: center;

    .img-logo {
      max-width: 280px;
      height: 110px;
      object-fit: contain;
    }
  }

  .content-laptop {
    width: 90%;
    height: 730px;
    margin: 30px auto;
  }

  .other-info {
    width: 80%;
    margin: 40px auto;
    min-height: 410px;
    padding: 30px 0;
  }
}

@media screen and (max-width: 1200px) {
  .firstSection{
    width: 100% !important;
  }

  .content-laptop {
    height: 500px !important;
  }

  .other-info {
    width: 100% !important;
  }
}

@media screen and (max-width: 767px) {

  .content-laptop {
    height: 250px !important;
  }

}
