.beneficios__perks {
  flex-basis: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

@media (max-width: 767px) {
.beneficios__perks {
    gap: 25px 12px;
  }
}
