<header class="o-header" [ngClass]="{'has-slim-nav':isScrolled}">

  <div class="o-header__content">

    <div class="o-logo">
      <a class="o-logo__anchor" [routerLink]="['home']">
        <img class="o-logo__img" [src]="logo" alt="Sinapsis" width="178" height="54">
      </a>
    </div>

    <div class="o-menu-mobile" (click)="responsiveMenu()">
      <div class="o-menu-mobile__content" [ngClass]="{'has-mobile-transform':animationHamburger}">
        <span class="o-menu-mobile__lines o-menu-mobile--top"></span>
        <span class="o-menu-mobile__lines o-menu-mobile--center"></span>
        <span class="o-menu-mobile__lines o-menu-mobile--bottom"></span>
      </div>
    </div>

    <div class="content-nav-options" [ngClass]="{'has-show-menu':showMenu}">

      <nav class="o-nav">
        <ul class="o-nav__menu">
          <li class="o-nav__item" *ngFor="let navMenu of navRouters">
            <a class="o-nav__item-anchor" [routerLink]="[navMenu.slug]"
              [routerLinkActive]="'active'">{{navMenu.title}}</a>
          </li>
        </ul>
      </nav>

      <div class="o-nav__btn-sinapsis">
        <app-button-sinapsis [name_button]="'Contáctanos'"></app-button-sinapsis>
      </div>

      <div class="o-lang">
        <ul class="o-lang-select">
          <li class="o-lang-select__option" *ngFor="let lang of langOPtions; let i = index" (click)="moveToTop(i)"
            value={{lang.value}}>
            <img class="o-lang-select__img" [src]="[lang.img]" width="20px">
            <a class="o-nav__item-anchor" [routerLink]="[lang.value]">{{lang.lang}}</a>
          </li>
        </ul>
      </div>

    </div>

  </div>
</header>