<div
  class="workout section-work-anim"
  #contentAbsolute
  *ngIf="!isMobile; else elsebloq"
>
  <img
    class="tablet-img"
    #tablet
    [src]="pageData.sectionDesign.imagen"
    alt=""
  />
  <div class="container h-100 position-relative">
    <div class="row w-100 h-100 m-0 workout-row">
      <div
        class="col-12 col-md-6 columna-item d-flex justify-content-center align-items-center pe-0"
      >
        <div class="content-info content-text-anim">
          <h2>{{ pageData.sectionDesign.title }}</h2>
          <p class="my-3" [innerHTML]="pageData.sectionDesign.descripcion"></p>
          <app-button-sinapsis
            [name_button]="pageData.sectionDesign.name_button"
            [url]="pageData.sectionDesign.UrlBtn"
          ></app-button-sinapsis>
        </div>
      </div>
      <div
        class="col-12 col-md-6 columna-item item-workout pe-0 d-flex justify-content-center align-items-cente position-relative"
        id="column-image"
        #contentRelative
      ></div>
    </div>
  </div>
</div>
<ng-template class="work-movil" #elsebloq>
  <div class="container">
    <div class="row">
      <div class="col-12 item-movil d-flex">
        <img
          class="tablet-img-mobile"
          [src]="pageData.sectionDesign.imagen"
          alt=""
        />
      </div>
      <div class="col-12 item-movil text-center">
        <div class="content-info">
          <h2>{{ pageData.sectionDesign.title }}</h2>
          <p class="my-3" [innerHTML]="pageData.sectionDesign.descripcion"></p>
          <app-button-sinapsis
            [name_button]="pageData.sectionDesign.name_button"
            [url]="pageData.sectionDesign.UrlBtn"
          ></app-button-sinapsis>
        </div>
      </div>
    </div>
  </div>
</ng-template>
