.c-post-list{
  &__content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 35px;

    .c-post-list__item{
      width: 420px;
    }
  }

  #content-no-data{
    width: 100%;
    text-align: center;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 1024px) {
  .c-post-list__item{
    width: 350px !important;
  }
}

@media screen and (max-width: 800px) {
  .c-post-list__item{
    width: 100% !important;
  }
}

