<div class="casos--container">
  <p class="casos-title">Conocer algunos de nuestros casos de exito</p>
  <owl-carousel-o class="carrousel" [options]="casosExitoOptions">
    <ng-container *ngFor="let caso of casosExito">
      <ng-template carouselSlide>
        <div class="logo--container">
          <img
            class="caso-exito-logo"
            (click)="redirectDetail(caso.slug)"
            [src]="caso.general.logo"
            alt="casos de exito"
          />
        </div>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</div>
