<div class="loading-container">
  <div [ngClass]="[initialRender ? 'loading-screen-black' : 'loading-screen-purple']" class="loading-screen">
    <div class="rounded-div-wrap rounded-div-wrap-top">
      <div class="rounded-div"></div>
    </div>
      <img [hidden]="!initialRender" src="/assets/img/white-logo.svg" alt="logo sinapsis" class="overlay-logo">
      <h1  [hidden]="initialRender" class="page-name">{{actualRoute}}</h1>

    <div class="rounded-div-wrap rounded-div-wrap-bottom">
      <div class="rounded-div"></div>
    </div>
  </div>
</div>
