<div class="timeline">
  <div class="container-text" 
      *ngFor="let item of pageData.timeLine.data; let i = index" 
      [ngClass]="{'left-container': i % 2 === 0, 'right-container': i % 2 !== 0}"
      >
    <div class="content-img">
      <img [src]="item.icon" alt="">
    </div>
    <div class="text-box" #containerText>
      <h2>{{item.title}}</h2>
      <small>{{item.year}}</small>
      <p [innerHTML]="item.descripcion"></p>
      <span class="{{ i % 2 === 0 ? 'left-container-arrow' : 'right-container-arrow'}}"></span>
    </div>
  </div>
  <span class="timeline-line"></span>
</div>