.timeline {
  width: 100%;
  height: 500px;

  .title-time {
    width: 300px;
    text-align: center;
    margin: 0 auto;
  }

  .icon-time {
    width: 60px;
    height: 60px;
  }

  .marker-time {
    color: rgba(112, 66, 239, 1);
  }

  .content-text {
    width: 203px;
    height: 90px;
    text-align: center;
  }

  p-timeline::ng-deep {
    .p-timeline-horizontal {
      transform: translateX(7.2%);

      .p-timeline-event {
        .p-timeline-event-opposite {
          transform: translateX(-8%);
        }

        .p-timeline-event-content {
          transform: translateX(-35%);
        }
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .timeline {
    height: 1100px;

    .title-time {
      margin-bottom: 50px;
    }

    .icon-time {
      width: 60px;
      height: 60px;
      position: relative;
      top: 0;
      left: 0;
    }

    .content-text {
      width: 100%;
      height: 180px;
    }

    p-timeline::ng-deep {
      .p-timeline-event:nth-child(2n) {
        color: #11161a;

        .p-timeline-event-content {
          color: #11161a;
          display: flex;
          justify-content: end;
        }
      }
    }
  }
}