.timeline {
  position: relative;
  max-width: 1200px;
  min-height: 1100px;
  margin: 100px auto;

  .container-text {
    padding: 10px 50px;
    position: relative;
    width: 50%;

    .content-img{
      background-color: #fff;
      width: 56px;
      height: 50px;
      border-radius: 50%;
      position: absolute;
      right: -28px;
      top: 32px;
      z-index: 10;
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 80%;
      }
    }
    
    .text-box {
      padding: 20px 30px;
      position: relative;
      border-radius: 6px;
      font-size: 15px;
      background-color: #7042ef;
      color: #fff;

      h2 {
        font-weight: 600;
      }

      small {
        display: inline-block;
        margin-bottom: 15px;
      }

      .left-container-arrow {
        height: 0;
        width: 0;
        position: absolute;
        top: 28px;
        z-index: 1;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 15px solid #7042ef;
        right: -14px;
      }

      .right-container-arrow {
        height: 0;
        width: 0;
        position: absolute;
        top: 28px;
        z-index: 1;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-right: 15px solid #7042ef;
        left: -14px;
      }
    }
  }

  .left-container {
    left: 0;
  }
  .right-container {
    left: 50%;

    .content-img {
      left: -28px;
    }
  }
}

.timeline-line {
  content: "";
  position: absolute;
  width: 3px;
  height: 0;
  background-color: #7042ef;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
  transition: height 0.5s ease;
}

@media screen and (max-width: 767px) {
  .timeline {
    margin: 50px auto;

    .container-text {
      width: 100%;
      padding-left: 80px;
      padding-right: 25px;

      .text-box {
        font-size: 13px;

        small {
          margin-bottom: 10px;
        }
      }
    }

    .right-container {
      left: 0;
    }

    .right-container .content-img,
    .left-container .content-img {
      left: 10px;
    }

    .left-container-arrow,
    .right-container-arrow {
      border-left: 0;
      border-right: 15px solid #7042ef;
      left: -29px;
    }
  }

  .timeline-line {
    left: 39px;
  }
}
