.slider-section{
  width: 100%;
  min-height: 682px;
}

.img-slider {
  width: 100%;
  height: 521px;
  object-fit: cover;
}

.grid-image {
  width: 100%;
  columns: 2;
  column-gap: 6px;

  .img-mobile {
    max-width: 100%;
    margin-bottom: 6px;
  }
}
