.slider-section{
  width: 100%;
  min-height: 600px;
}

.img-slider {
  height: 521px;
  object-fit: cover;
}

.grid-image {
  width: 100%;
  columns: 2;
  column-gap: 6px;
  // display: none;

  .img-mobile {
    max-width: 100%;
    margin-bottom: 6px;
  }
}

// @media screen and (max-width: 767px) {
//   .carrousel{
//     display: none;
//   }

//   .grid-image {
//     display: block;
//   }
// }