<section class="nosotros" appScrollReveal x="-100" selectorClassAnimation="nosotros-a">
  <article class="section__content">
    <div class="section__text-container">
      <div class="nosotros-a">
        <span class=".sup-title" i18n>Nosotros</span>
        <h2 i18n>{{dataUs.title}}</h2>
      </div>
      <p class="nosotros-a" [innerHTML]="dataUs.description" i18n></p>
      <div class="section__actions nosotros-a">
        <app-button-sinapsis [name_button]="dataUs.UrlMainBtn"
          [url]="'/nosotros'" i18n></app-button-sinapsis>
          <app-link-sinapsis i18n [name_link]="dataUs.UrlSecondBtn" [redirectionUrl]="'/trabaja-con-nosotros'"></app-link-sinapsis>
      </div>
    </div>
  </article>
  <owl-carousel-o class="carrousel carrousel-section" [options]="usOptions">
    <ng-container class="carrousel-slide" *ngFor="let photo of dataUs.gallery">
      <ng-template carouselSlide>
        <div class="card-item text-center">
          <img class="img-slider" [src]="photo" alt="Equipo Sinapsis" />
        </div>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</section>
