:host{
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.beneficios__perk {
  display: flex;
  justify-content: start;
  gap: 13px;
  flex-grow: 1;

  img {
    align-self: start;
  }

  .beneficios__text {
    max-width: 140px;

    p{
      margin-bottom: 0;
      font-weight: 700;
    }
  }
}

@media (max-width: 767px){
  .beneficios__perk {

      .beneficios__text {
        max-width: 100%;
      }
    }
}
