<section #absoluteLaptop class="banner-principal">
  <img #laptop class="laptop-graphic--absolute" src="/assets/img/portatil-home-mockup.svg" alt="laptop">
  <article class="section__content">
    <div class="section__text-container">
      <h1>{{dataPage.homeBanner.titulo}}</h1>
      <p>{{dataPage.homeBanner.descriptionText}}</p>
      <div class="section__actions">
        <app-button-sinapsis [name_button]="dataPage.homeBanner.nombre_boton_principal" [url]="'/nosotros'"></app-button-sinapsis>
        <app-link-sinapsis [name_link]="dataPage.homeBanner.nombre_boton_secundario"></app-link-sinapsis>
      </div>
    </div>
  </article>
  <article class="banner-principal__graphics">
    <div #relativeLaptop class="banner-principal__images-container">
      <img class="phone-graphic" src="/assets/img/celular.svg" alt="">
    </div>
  </article>
</section>
<app-casos-de-exito></app-casos-de-exito>
<app-nuestros-servicios></app-nuestros-servicios>
<app-nosotros></app-nosotros>
<app-work-with-us></app-work-with-us>
<app-nuestras-tecnologias></app-nuestras-tecnologias>
<app-testimonios> </app-testimonios>
<app-proyectos-destacados></app-proyectos-destacados>
<app-blog></app-blog>
<app-faq-home></app-faq-home>
