:host {
  position: relative;
}

.section__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
  flex-shrink: 3;

  .section__text-container {
    max-width: 646px;
    flex-basis: 646px;
    min-width: 596px;
    padding: 20px;

    h1 {
      margin-bottom: 20px;
      max-width: 585px;
    }

    p {
      margin-bottom: 28px;
    }
  }

}

.section__content--white {
  color: white;
  background-color: #11161A;
}

.banner-principal {
  position: relative;
  display: flex;
  justify-content: space-around;
  height: calc(100vh - 64px);

  .laptop-graphic--absolute {
    position: absolute;
    z-index: 9;
    width: 120vw;
    height: 170vh;
    top: -67px;
  }

  .banner-principal__graphics {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
    padding: 10px;

    .banner-principal__images-container {
      display: flex;
      flex-basis: 840px;
      justify-content: end;
      height: 511px;
      width: 817px;
      position: relative;

      .phone-graphic {
        position: absolute;
        bottom: 0px;
        left: 0px;
      }

      .laptop-graphic {
        width: 817px;
      }

      .laptop-graphic--absolute {
        z-index: 9;
        width: 840px;
        height: 521.17px;
        top: 0px;
      }
    }
  }
}
