<section #absoluteLaptop class="banner-principal">
  <img #laptop class="laptop-graphic--absolute" src="/assets/img/portatil-home-mockup.svg" alt="why?">
    <!-- <img class="laptop-graphic" src="/assets/img/portatil-home-mockup.svg" alt="why?"> -->
  <article class="banner-principal__content">
    <div class="banner-principal__text-container">
      <h1>Lorem ipsum is simply text of the printing</h1>
      <p>Lorem ipsum is simple texto of the printing and typesetting industry. lorem ipsum has been the Lorem ipsum is simple
      texto of the printing and typesetting industry. lorem ipsum has been the Lorem ipsum is simple texto of the printing and
      typesetting industry. lorem ipsum has been the Lorem ipsum is simple texto of the printing and typesetting industry.
      lorem ipsum has been the</p>
      <div class="banner-principal__actions">
        <app-button-sinapsis [name_button]="'Lorem ipsum is simple'"></app-button-sinapsis>
      </div>
    </div>
  </article>
  <article class="banner-principal__graphics">
    <div #relativeLaptop class="banner-principal__images-container">
      <img class="phone-graphic" src="/assets/img/celular.svg" alt="">
      <!-- <img #laptop class="laptop-graphic" src="/assets/img/portatil-home-mockup.svg" alt="why?"> -->
    </div>
  </article>
</section>
<section class="space">

</section>
<!-- <div class="div-container a">a</div>
<div class="div-container b">b</div>
<div class="div-container c">c</div> -->
