<div class="casos-port-container">
  <h3 class="title">Explora nuestro portafolio</h3>
  <p class="desc">
    Lorem ipsum is simple text of the printing and typesetting industry.
  </p>
  <!-- <app-casos-de-exito></app-casos-de-exito> -->
  <div class="casos--container">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div
          *ngFor="let caso of casosExito"
          class="swiper-slide logo--container"
        >
          <img class="caso-exito-logo" [src]="caso.logo" alt="casos de exito" />
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>

  <div [id]="contentId">
    <div *ngFor="let chase of grouped" class="cards-cont">
      <div class="each-alone container">
        <div class="text">
          <img [src]="chase[0].logo" alt="" />
          <h4>{{ chase[0].title }}</h4>
          <p>{{ chase[0].description }}</p>
          <button class="view-more">
            <a routerLink="bancolombia">Ver Más...</a>
          </button>
        </div>
        <div class="screen">
          <img [src]="chase[0].screenshot" alt="" />
        </div>
      </div>
      <div class="pair-cont">
        <div
          *ngFor="let item of chase.slice(1, 3); let i = index"
          class="each-pair"
        >
          <div *ngIf="i === 0" class="left">
            <img [src]="item.screenshot" alt="" />
            <div class="text">
              <img [src]="item.logo" alt="" />
              <h4>{{ item.title }}</h4>
              <p>{{ item.description }}</p>
              <button class="view-more">
                <a routerLink="bancolombia">Ver Más...</a>
              </button>
            </div>
          </div>
          <div *ngIf="i === 1" class="right">
            <img [src]="item.screenshot" alt="" />
            <div class="text">
              <img [src]="item.logo" alt="" />
              <h4>{{ item.title }}</h4>
              <p>{{ item.description }}</p>
              <button class="view-more">
                <a routerLink="bancolombia">Ver Más...</a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="port-paginated">
      <kendo-datapager
        [attr.aria-controls]="contentId"
        [total]="total"
        [pageSize]="pageSize"
        [info]="false"
        [type]="'numeric'"
        [previousNext]="false"
        [pageSizeValues]="false"
        [skip]="skip"
        (pageChange)="onPageChange($event)"
      >
      </kendo-datapager>
      <img
        width="30"
        height="30"
        class="icon-left"
        src="assets\icons\arrowright.svg"
        alt=""
        (click)="pageWithArrow(skip, pageSize, 'left')"
      />
      <img
        width="30"
        height="30"
        class="icon-right"
        src="assets\icons\arrowright.svg"
        alt=""
        (click)="pageWithArrow(skip, pageSize, 'right')"
      />
    </div>
  </div>
</div>
