/* You can add global styles to this file, and also import other style files */

//import styles
@import url("https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

/** Colors */
:root {
  --main-color: #121212;
  --second-color: #ffffff;
  --third-color: #7042ef;
}

body {
  margin: 0;
  padding: 0;
}
