/* You can add global styles to this file, and also import other style files */

//import styles
@import url("https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap");
@import 'swiper/scss';

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

/** Colors */
:root {
  --main-color: #121212;
  --second-color: #ffffff;
  --third-color: #7042ef;
  --footerbackground: linear-gradient(135deg, rgba(217, 217, 217, 0.22) 2.66%, rgba(217, 217, 217, 0.10) 100%);
}

html {
  font-size: 15px;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 52px;
}

h2 {
  font-size: 2.333rem;
  font-weight: 700;
  line-height: 37px;
}

h3 {
  font-size: 1.667rem;
  font-weight: 600;
  line-height: 28px;
}

h4 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 24px;
}

p {
  font-size: 1.067rem;
  font-weight: 400;
  line-height: 24px;
}

.sup-title {
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
}

a{
  text-decoration: none;
}

.owl-theme .owl-nav.disabled+.owl-dots {
  margin-top: 40px;
}

.owl-theme .owl-dots .owl-dot.active span {
  background-color: #7042EF;
}

@media screen and (max-width: 767px){
  html {
    font-size: 14px;
  }

  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }
}
