.btn-sinapsis {
  background: var(--third-color);
  color: var(--second-color);
  border: 2px solid var(--third-color);
  padding: 10px 30px;
  border-radius: 3px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  border-radius: 50px;
  font-size: 20px;
  transition: 0.8s;
  cursor: pointer;

  &:hover {
    color: var(--third-color);
  }
}

.btn-sinapsis::before {
  content: "";
  position: absolute;
  left: -100%;
  width: 100%;
  height: 100%;
  background: var(--third-color);
  z-index: -1;
  transition: all 0.8s ease;
  top: 0;
}

.btn-sinapsis:hover::before {
  left: 0;
  top: 0;
  background-color: var(--second-color);
}
