/** footer contents */
.o-footer{
  background: var(--footerbackground);
  padding: 85px 0px 45px;
  text-align: center;

  &-content{
    max-width: 90%;
    margin: auto;
  }

  &__group-routes {
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    margin-top: 50px;
  }
}

/** Footer social **/
.o-social {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  .o-social-img {
    width: 19px;
    height: 20px;
    transition: all 0.5s ease-out;

    &:hover{
      filter: invert(30%) sepia(76%) saturate(4809%) hue-rotate(248deg) brightness(95%) contrast(97%);
      transform: scale(1.2);
      transition: all 0.5s ease-out;
    }
  }
}

/** Footer logo */
footer .o-logo__anchor{
  margin: auto;
}


/** Footer menu */
footer .footer-menu .o-nav__menu{
  justify-content: center;
}

.o-social--instagram {
  transform: translate(0px, 4px);
}

/** Footer bottom **/
.o-footer-bottom {
  border-top: solid #D9D9D9 2px;

  &__text{
    margin-top: 25px;
    margin-bottom: 0px;
    font-size: 12px;
  }

}

@media(max-width:780px){
  .o-footer__group-routes{
    grid-template-columns:1fr;
  }

  .o-social--instagram {
    transform: translate(0px, 3px);
  }

  .o-nav-footer__menu{
    gap: 4px 12px;
  }
}

