<div class="tecnologies-content">
    <div class="content-items">
        <div class="item-develop">
            <img class="img-icon" src="assets/tecnologias/Angular.svg" alt="">
        </div>
        <div class="item-develop">
            <img class="img-icon" src="assets/tecnologias/Js.svg" alt="">
        </div>
        <div class="item-develop">
            <img class="img-icon" src="assets/tecnologias/React.svg" alt="">
        </div>
        <div class="item-develop">
            <img class="img-icon" src="assets/tecnologias/Unity.svg" alt="">
        </div>
        <div class="item-develop">
            <img class="img-icon" src="assets/tecnologias/Wp.svg" alt="">
        </div>
        <div class="item-develop">
            <img class="img-icon" src="assets/tecnologias/Oracle.png" alt="">
        </div>
    </div>
</div>
